<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Albums (Admin View)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Administrator</span>
    <div class="ml-auto">
        <a href="/{{ username }}/admin_dashboard">Admin Dashboard</a> | <a href="/{{ username }}/admin_tracks">All Tracks</a> | <a href="/">Logout</a>
    </div>
</nav>

<!-- Main Content -->
<div class="container py-5">
    <div class="uploads-list">
        <h3><b>Albums</b></h3><br>
        <form action="{{ url_for('search', username = username, category='album') }}" method="POST">
            <input type="text" name="searchstring" placeholder="Search">
            <input type="hidden" name="username" value="{{ username }}">
            <button type="submit">Search</button>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Artist</th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>

                    {% for album in album_info %}
                    <tr>
                        <td>{{album[1]}}</td>                        
                        <td>{{ album[2] }}</td>
                        <td>{{album[3]}}</td>
                        <td><a href="/{{ username }}/album/{{ album[0] }}" class="btn btn-success">View Songs</a></td>
                        <!-- <td> <form action="/{{username}}/admin_albums" method="post">
                            <input type="hidden" name="album_id" value="{{ album[0] }}">
                            <button class="btn btn-warning">Flag</button>
                            </form></td> -->
                        <td>
                            <form action="/{{username}}/admin_albums" method="post">
                            <input type="hidden" name="album_id" value="{{ album[0] }}">
                            <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
