<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- Include Bootstrap CSS (from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Music Streaming Application</span>
</nav>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for message, category in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          Kindly check username or password
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %} -->

<!-- Main Content -->
<div class="container text-center py-5">
    <h2>Administrator Login</h2>
    <br>
    <form action = "/admin_login" class="login-form" method="post">
        <div class="form-group">
            <input type="text" name="username" class="form-control col-md-6 mx-auto" placeholder="Username" required/>
        </div>
        <div class="form-group">
            <input type="password" name="password"  class="form-control col-md-6 mx-auto" placeholder="Password" required/>
        </div>
        <div class="mt-4">
            <button value="Submit" role='button' type="submit" class="btn btn-lg btn-success" href="admin_dashboard">Login</button>
        </div>
    </form>
    <br>
    Don't have admin access? Go to <a href="user_login">User Login</a>
</div>

<!-- Include Bootstrap JS (from a CDN) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
